@import '../../colors';

  .nav__submenu {
    position: absolute;
    background: $dark-green;
    left: -100%;
    top: 90%;
    border: 1px solid $dark-gray;
    padding: 1rem;
  }

  .pack-icon {
    width: 25px;
    height: auto;
    cursor: pointer;
    padding-right: 1rem;
  }

  @media (min-width: 769px) {
    .mobile-cart {
      display: none;
    }
  }
  
  
  @media (max-width: 769px) {
    .desktop-cart {
      display: none;
    }
  }
  