@import '../../colors';

.myaccount-menu {
  position: relative;
  display: block;
  width: 100px;
  animation {

  }

}

.my-account-btn {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.myaccount-menu-main {
  position: absolute;
  background-color: $dark-gray;
  opacity: 0.9;
  padding: 1rem;
  border: 1px solid $dark-gray;
  top: 40px;
  height: auto;
  box-shadow: 0 4px 16px rgba(20,23,28,.25);
  width: 150px;
}

.myaccount-menu-item {
  margin: 0.8rem 0;
  &:hover {
    color: $light-green;
  }
  cursor: pointer;
}

.myaccount-menu-item a {
  color: inherit;
  text-decoration: none;
  padding: 1rem 0;

}


.sidebar-menu {
  display: flex;
  height: 100%;
  
}

.sidebar-menu ul {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.sidebar-menu ul li {
  margin: 0.2rem 0;
  font-size: 2.5rem;
  color: $white;
  padding: 4px 0;
  width: 100%;
  padding-left: 10px;
  opacity: 0.8;
}

.sidebar-menu ul li a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .myaccount-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  .sidebar-menu {
    display: none;
  }
}
