@import '../../colors';

// .myaccount-menu-main {
//   visibility: hidden;
//   opacity: 0;
//   position: absolute;
//   transition: all 0.5s ease;
//   margin-top: 1rem;
//   left: 0;
//   display: none;

//   &:hover {
//       visibility: visible;
//       opacity: 1;
//       display: block;
//   }
// }


.sidebar-menu {
  display: flex;
  height: 100%;
}

.sidebar-menu ul {
  height: 100%;
  color: $dark-gray;
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
}

.sidebar-menu ul li {
  margin: 0.5rem 0;
  font-size: 2.5rem;
}

.sidebar-menu ul li a {
  color: $dark-gray;
  text-decoration: none;
}

@media (max-width: 768px) {
  .myaccount-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  .sidebar-menu {
    display: none;
  }
}
