@import '../../colors';

.poi-item {
  padding: 5px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
 

  &:hover {
    background-color:lightgray;
    border-radius: 5px;
  }

  // &:active {
  //   border-radius: 5px 5px 0 0;

  // }
}

.days-dropdown {
  position:absolute;
  background-color: $white;
  display: inline-block;
  z-index: 100;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.days-dropdown-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);

  &:hover {
    background-color:lightgray;
    border-radius: 5px;
  }
}