nav {
  background-color: #36c387;

  .nav__menu {
    list-style: none;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0;
    position: relative;

    .submenu-container {
      z-index: 1;
      min-width: 160px;
      background-color: #36c387;
      position: relative;

      .nav__submenu {
        position: absolute;
        background: #36c387;
        left: 0;
        top: 100%;
      }

      .pack-icon {
        width: 30px;
        height: auto;
        cursor: pointer;
      }
    }

    .nav__menu-item {
      display: inline-block;
      padding: 0 5px;
    }
  }
}
