nav {
  background-color: #36c387;
  .nav__menu {
    list-style: none;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0;
    position: relative;

    .submenu-container {
      position: absolute;
      z-index: 1;
      min-width: 160px;
    }

    .nav__menu-item {
      display: inline-block;
      padding: 0 5px;
    }
  }
}
