@import '_colors';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  color: #262E2E;
}

body {
  background-color: $white;
  line-height: 1;
  font-size: 1.5rem;
}

ol, ul {
	list-style: none;
}

@media (max-width: 769px) {
  html {
    font-size: 0.7rem;
  }
}


@media (min-width: 769px) {
  html {
    font-size: 0.7rem;
  }
}